
<body>
          <main>
                    <section>
                              <h2>💡 Advice of the Day</h2>
                              <p>Click the button to get some wisdom! 🤓</p>
                              <a href="/advice"> <!-- This link directs to /advice -->
                                        <button id="get-advice-btn">Get Advice</button>
                              </a>
                    
                    </section>

                    <section>
                              <h2>🚀 NASA Astronomy Picture</h2>
                              <p>Discover something amazing from space! 🌌</p>
                              <a href="/nasa-image">
                                        <button id="get-nasa-btn">Get NASA Image</button>
                              </a>
                     </section>

                    <section>
                              <h2>🎯 Trivia Challenge</h2>
                              <p>Test your knowledge with a random trivia question! 🧠</p>
                              <a href="/trivia">
                                        <button id="get-trivia-btn">Get Trivia</button>
                              </a>
                    </section>
          </main>

          <footer>
                    <p>&copy; 2025 Daily Dose</p>
          </footer>
</body>

</html>