<!DOCTYPE html>
<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title><%= title || 'Advice App' %></title> <!-- Page title will be dynamic -->
          <link rel="stylesheet" href="/styles.css"> <!-- Link to CSS file -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Font Awesome for icons -->
</head>

<body>

          <%- include('./header.ejs') %> <!-- Include the header file -->

          <main>
              <%- include(content) %>
          </main>

           <%- include('./footer.ejs') %> <!-- Include the footer file -->
</body>


</html>